.box-adjustment {
    margin-top: 10rem;
}

.highlights-styling {
    padding: 40px 0px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 5px grey;
}
.highlights-styling:hover {
    transform: scale(1);
    transition-duration: 0.5s;
    box-shadow: 10px 10px 30px 5px black;
}
