.position-footer {
    margin-top: auto;
}
.footer-text-styling {
    color: #ffc600;
}

.border-lining-right {
    border-right: 1px solid #ffc600;
}
i {
    color: #ffc600;
}
.text-alignment {
    color: white;
    display: inline;
    font-size: 15px;
}

.fa-phone {
    transform: scaleY(-1) rotate(90deg);
}

.text-input-area {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.submit-button {
    background-color: #ffc600;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #f1f13e;
}
